<p class="text-muted" style="position: relative;">
  <%= image_tag(user.avatar.url, class: "img-member img-circle img-responsive", title: user.name) %>
  <%= link_to user.name, user, style: "position: absolute; top: 11px; left: 34px" %>
</p>
