<% @subject = Subject.find_by params[:subject_id] %>
<% provide(:title, @subject.name) %>
<div class="wrapper" style="background: #fff; height: 587px;">
  <section class="content">
    <div class="col-md-9">
      <%= render "component/task_component/box_task" %>
    </div>
    <div class="col-md-3">
      <%= render "component/courses_component/box_course" %>
    </div>
  </section>
</div>

