<% provide :title, "Courses" %>
<section class="content-header">
  <% show_title_index_course params[:option] %>
  <h1>
    <%= @title %>
    <small>advanced boxs</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><i class="fa fa-dashboard"></i> Home<% end %></li>
    <li class="active">My courses</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="row" style="padding: 20px;">
          <%= render partial: "course", collection: @courses, as: :course %>
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
.widget-advanced .widget-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
}
.widget-advanced .widget-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  padding-top: 25px;
  margin: 0;
  background: url(../img/template/ie8_opacity_dark_60.png) repeat;
  background: rgba(0, 0, 0, 0.79);
}
.widget .widget-content-light {
  color: #ffffff;
}
.themed-color-autumn {
  color: #e67e22 !important;
}
</style>
