<% size = @trainee_courses.size %>
<% kt = false %>
<% if @count % @quality == 0 %>
  <td style="padding: 2px; border-right: 1px solid;">
<% end %>
    <div class="checkbox">
      <% load_user trainee %>
      <% @count += 1 %>
      <input type="checkbox" id="trainee_uc<%= trainee.id %>" name="ids[]" value="<%= trainee.id %>"/>
      <label style ="padding: 0px;" for="trainee_uc<%= trainee.id %>">
        <span></span><%= @user.name %>
      </label>
    </div>
<% if kt %>
  </td>
<% end %>
