<div class="sortable content-section">
  <div class="profile_top_view">
    <div class="row">
      <div class="col-md-12">
        <h4 class="view-control task-tlt"><%= detail_link.name %></h4>
      </div>
    </div>
  </div>
  <table class="table table_profile">
    <tr>
      <td class="view-field">
        <strong class="view-control">Detail's Link</strong>
      </td>
      <td class="profile_content">
        <a href="<%= detail_link.link %>" target="_blank">
          <%= detail_link.link %>
        </a>
      </td>
    </tr>
  </table>
</div>
