<div class="section-detail section-employment" style="max-height: 613px;">
  <div class="box border-info">
    <fieldset>
      <legend class="box-md">
        <i class="fa fa-fw fa-bank"></i><%= @subject.name %>
      </legend>
      <% if @tasks.blank? %>
        <div class="placeholder-section box-md">
          <p class="placeholder">This subject hasn't task, let's add some tasks!</p>
        </div>
      <% end %>
      <div id="form-task">
        <%= render partial: "tasks/task", collection: @tasks, as: :task %>
      </div>
    </fieldset>
  </div>
</div>
