<div id="info_task_<%= task.id %>" class="sortable content-section">
  <div>
    <div class="view-field">
      <h4 class="view-control"><%= task.name %></h4>
    </div>
  </div>
  <div>
    <div class="view-field">
      <div class="view-control"><%= task.description %></div>
    </div>
  </div>
</div>
