<% provide :title, "User" %>
<section class="content-header">
  <h1>
    <% if params[:option] == "trainer" %>
      System Trainers
    <% else %>
      System Trainees
    <% end %>
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">User</a></li>
    <% if params[:option] == "trainer" %>
      <li class="active">Trainers list</li>
    <% else %>
      <li class="active">Trainees list</li>
    <% end %>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <div id="example1_filter" class="dataTables_filter">
                <label>Search:
                  <input id="myInput" type="search" class="form-control input-sm" placeholder="Search for names.." aria-controls="example1">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table id="example2" class="table table-bordered table-hover dataTable">
                <thead>
                  <% display_column_user_index.each do |item| %>
                      <th><%= item.capitalize %></th>
                    <% end %>
                </thead>
                <tbody>
                  <tr>
                    <%= render partial: "user", collection: @users, as: :user %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                <%= page_entries_info @users, entry_name: 'user' %>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                <%= paginate @users, :outer_window => 3 %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

