<% provide :title,  "Update Subject" %>
<% provide :button_text, "Update" %>
<section class="content-header">
  <h1>
    Subject
    <small>form edit</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to root_path do %><i class="fa fa-dashboard"></i> Home<% end %></li>
    <li><%= link_to "Subjects", subjects_path %></li>
    <li><%= link_to @subject.name, @subject %></li>
    <li class="active">edit</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <%= render "form" %>
  </div>
</section>
