<% provide :title,  "Update Subject" %>
<% provide :button_text, "Update" %>
<section class="content-header">
  <h1>
    Subject
    <small>form edit</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Subjects</a></li>
    <li class="active">Edit subject</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <%= render "form" %>
  </div>
</section>
