<% provide :title,  "Subject Create" %>
<% provide :button_text, "Create" %>
<section class="content-header">
  <h1>
    Subject New
    <small>form add</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Subjects</a></li>
    <li class="active">New subject</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <%= render "form" %>
  </div>
</section>
