<% provide :title,  "Update Course" %>
<% provide :button_text, "Update" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 style="text-align: center;">Update Course</h2>
    <h5 style="text-align: center;"><%= link_to "Show", @course %></h3>
    <%= render "form" %>
  </div>
</div>
