@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.alert-box {
    box-shadow: -1px 2px 5px #888;
    position: fixed;
    right: 5px;
    top: 54px;
    width: 310px;
    z-index: 9999;
}
