/* View Subject in Course*/
.dscroll {
  overflow: hidden;
  width: 72%;
  margin-right: 10px;
  float: left;
}
.dsuser {
  float: right;
}
.dbox-body {
  margin-top: 10px;
}
.col-list-subjects {
  width: 98%;
}
.col-list-subjects .infor {
  float: right;
  width: 82%;
  color: #000;
}
.col-list-subjects .subject-timeline {
  padding-left: 55px;
  width: 100%;
}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline-label {
  font-weight: 600;
  margin-bottom: 15px;
  padding: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
}
.div-status {
  position: relative;
  float: left;
  font-size: 0;
  height: 100%;
  left: -26px;
  margin-top: 45px;
  width: 15px;
}
.div-status .status {
    border-radius: 100%;
    height: 25px;
    position: absolute;
    width: 25px;
    left: -8px;
}
.div-status .status-finish {
  background-color: #f9c1b3;
  border: solid 3px #fb6e52;
}

.div-status .status-init {
    background-color: #58fa82;
    border: 3px solid #04b404;
}
.div-status .status-in_progress {
    background-color: #f2fb9de6;
    border: 3px solid #eaf900;
}
.subject-body {
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  box-shadow: 0 2px 1px #ccc;
  margin: 5px;
  margin-right: 0;
  min-height: 100px;
  padding: 5px 2px;
  transition: all .3s;
  &:hover {
    box-shadow: 3px 4px 1px #afacac
  }
}
.subject-name {
  color: #21abc7;
  font-size: 20px;
  font-weight: 300;
  margin: 4px 0;
}
.td-subject-description {
  color: #404040;
  word-break: word-breaking;
  width: 90%;
}
.start_date_label {
  background-color: #04b404 !important;
  font-size: 100% !important;
}
.end_date_label {
  background-color: #fb6e52 !important;
  margin-left: 46px !important;
}
.label-status {
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
.status-in_progress {
  background-color: #43bce9;
}
.status-init {
  background-color: #04b404;
}
.status-finish {
  background-color: #fb6e52;
}
.status-btn-dis {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #a19b9b;
}
.td-course-show {
    overflow-y: hidden;
}
.dbox {
  background: #eaedf1;
  box-shadow: 4px 6px 20px 0px #939393;
  float: left;
  margin: 20px;
  width: 95%;
}
.dbox .dbox-header {
  border-bottom: 1px solid #ffffff;
  font-size: 14pt;
  font-weight: bold;
  margin-right: 1px;
  padding: 5px 0 5px 10px;
}
.course-subject {
  background-color: #3c586a;
  box-shadow: 0 1px 1px 1px #666;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.course-header {
    width: 100%;
    display: block;
    font-size: 13px;
    margin: 10px;
}
.course-header .header-title {
    color: #e46c11;
    display: inline-block;
    font-size: 16pt;
    font-weight: 700;
    height: 30px;
    width: 65%;
}
.course-header .courses-detail-status {
    display: inline-block;
    height: 30px;
    position: absolute;
    width: 130px;
    z-index: 999;
}
.course-menu {
  margin-bottom: 4px;
  background: #fff;
}
.course-header .status-in_progress {
    background-color: #43bce9;
    padding: 10px;
    position: absolute;
    right: 47px;
    top: 2px;
}
.course-header .status-init {
    background-color: #04b404;
    padding: 10px;
    position: absolute;
    right: 47px;
    top: 2px;
}
.course-header .status-finish {
    background-color: #fb6e52;
    padding: 10px;
    position: absolute;
    right: 47px;
    top: 2px;
}
.course-header .status-block {
    background: #000;
    padding: 10px;
    position: absolute;
    right: 47px;
    top: 2px;
}
img.creator-image {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.nav-tabs .active a {
    background: #89c2f7 !important;
}
.course-show-body {
}
col-list-subjects {
    padding-right: 0;
    padding-left: 0;
}
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
.margin-select {
    margin-top: 10px;
    z-index: 111;
}
.margin-select {
    min-height: 51px;
}
.margin-select {
    margin-bottom: 5px;
}
.text-right {
    text-align: right;
}
.courses-index {
    background-color: #fff;
}
.xt-height {
    height: calc(100vh - 206px);
}
.course-container {
    max-width: 100%;
    padding-left: 7px;
    padding-right: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.td-padding-top {
    padding-top: 40px;
}
.td-padding-top .td-program-list-course {
    margin-bottom: 37px;
    padding: 0 15px;
    position: relative;
}
.td-program-list-course {
    position: relative;
}

.col-list-subjects .subject-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.col-list-subjects .subject-image {
    float: left;
    height: 100px;
    width: 15%;
}
.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}
.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
nav.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
.pagination>span {
  padding: 6px 0px;
  cursor: pointer;
  display: inline;
  background: #fafafa;
  color: #666;
  position: relative;
  float: left;
  margin-left: -1px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  text-decoration: none;
  &:hover {
    background: #f1bcbc
  }
}
.pagination>.current {
  background-color: #337ab7;
  border-color: #337ab7;
  z-index: 3;
  color: #fff;
  padding: 6px 12px;
}
.page > a {
  padding: 6px 12px;
}
div.dataTables_filter {
  text-align: right;
}
div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.block-title, .block-top {
  margin-left: -20px;
  margin-right: -20px;
  margin: -20px -15px 20px;
  background-color: #f9fafc;
  border-bottom: 1px solid #eaedf1;
}
.table-options {
  padding: 6px 0;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
p, .table, .alert, .carousel {
  margin-bottom: 20px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.block-title, .block-top {
  margin-left: -20px;
  margin-right: -20px;
}
.block-title {
  margin: -20px -15px 20px;
  background-color: #f9fafc;
  border-bottom: 1px solid #eaedf1;
}
.block-title h1, .block-title h2, .block-title h3 {
  padding-left: 15px;
  padding-right: 15px;
}
.block-title h1, .block-title h2, .block-title h3, .block-title h4, .block-title h5, .block-title h6 {
  display: inline-block;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 10px 16px 7px;
  font-weight: normal;
}
.block, .widget {
  margin-bottom: 20px;
}
.header-section, .breadcrumb-top, .block, .block.full, .modal-body, #page-content + footer {
  padding-left: 20px;
  padding-right: 20px;
}
.block {
  margin: 0 20px 10px;
  padding: 20px 15px 1px;
  background-color: #ffffff;
  border: 1px solid #dbe1e8;
}
input[type="checkbox"] {
   display: block !important;
}
.table tbody > tr > td, tbody > tr > td{
  border-color: #eaedf1;
}
.subject-detail h3.name {
  color: #575a5b;
  font-size: 200%;
  font-weight: 700;
}
.title .box-title {
  display: inline-block;
}
.title .subject-status {
  display: inline-block;
  margin-left: 20px;
  padding-top: 20px;
  vertical-align: top;
}
.title .in_progress {
  background: rgba(70, 175, 212, 0.62);
}
.title .init {
  background: rgba(70, 212, 123, 0.62);
}
.title .finish {
  background: rgba(212, 70, 70, 0.62);
}
.title .status {
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 2px;
  padding: 5px 30px;
}
.nav-tb-c {
  padding-left: 20px;
}
.avt_form {
    display: none;
  }
.avt_div {
  cursor: pointer;
  &:hover, &:active {
    .avt_form {
      display: block;
    }
  }
}
.widget {
  background-color: #ffffff;
  margin-bottom: 10px;
  &:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  }
}
.init-widget {
  box-shadow: 0px 0px 4px 3px #84fb6e7a;
  &:hover {
  box-shadow: 0px 0px 4px 5px #2aa513a6;
  }
}
.in_progress-widget {
  box-shadow: 0px 0px 4px 3px #e9fb58b5;
  &:hover {
  box-shadow: 0px 0px 4px 5px #bfd41be0;
  }
}
.finish-widget {
  box-shadow: 0px 0px 4px 3px #f9545494;
  &:hover {
  box-shadow: 0px 0px 4px 5px #c52222d6;
  }
}
.block-widget {
  box-shadow: 0px 0px 4px 3px #333333bf;
  &:hover {
  box-shadow: 0px 0px 4px 5px #101010e0;
  }
}
.widget-advanced .widget-header {
  position: relative;
  padding: 15px 15px 50px;
  height: 150px;
  overflow: hidden;
}
.themed-background-dark {
  background-color: #394263;
}
.widget .widget-content-light {
  color: #ffffff;
}
.themed-color {
  color: #1bbae1;
}
.widget .widget-content-light small {
  color: #eeeeee;
}
.widget-advanced .widget-main {
  position: relative;
  padding: 50px 15px 15px;
}
.widget-advanced .widget-image-container {
  position: absolute;
  display: inline-block;
  padding: 5px;
  width: 74px;
  height: 74px;
  top: -36px;
  left: 50%;
  margin-left: -36px;
  border-radius: 36px;
  background-color: #ffffff;
}
.widget .widget-image, .widget .widget-icon {
  width: 64px;
  height: 64px;
  opacity: 0.9;
}
.widget-advanced-alt .widget-header {
  height: auto;
  min-height: 150px;
}
.widget-advanced-alt .widget-header, .widget-advanced-alt .widget-main {
  padding: 15px;
}
.widget-advanced .widget-header {
  position: relative;
  padding: 15px 15px 50px;
  height: 150px;
  overflow: hidden;
}

.themed-background-dark {
  background-color: #394263;
}
.widget .widget-options-left {
  left: 0px;
}
.btn-primary {
  background-color: #6ad2eb !important;
  border-color: #1bbae1;
  color: #ffffff;
}
.btn-danger {
  background-color: #c9302c !important;
  border-color: #1bbae1;
  color: #ffffff;
}
.btn {
  margin: 1px 0;
}
.widget .widget-options {
  right: 0 px;
}
.widget .widget-options, .widget .widget-options-left {
  position: absolute;
  top: 0px;
  opacity: 0.7;
  z-index: 20;
  filter: alpha(opacity=50);
  &:hover {
    opacity: 1;
  }
}
.widget .widget-content-light {
  color: #ffffff;
  opacity: 0.9;
}
.widget .widget-content-light small {
  color: #eeeeee;
}
.gi {
  font-family: 'Glyphicons Regular';
}
.fi, .gi, .hi, .si {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: .8;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.widget-advanced-alt .widget-header, .widget-advanced-alt .widget-main {
  padding: 15px;
}
.widget-advanced .widget-main {
  position: relative;
  padding: 35px 15px 15px;

}
.remove-margin {
  margin: 0 !important;
}
b, strong {
  font-weight: 600;
}
.remove-margin {
  margin: 0 !important;
}
.corner-ribbon {
  background: #e43;
  color: #f0f0f0;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 61px;
  right: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(90deg);
  width: 110px;
  z-index: 99;
}
.subject-status-box{
  border: 0;
  box-sizing: border-box;
  display: block;
  font: inherit;
  font-size: 100%;
  padding: 10px 0px;
  vertical-align: baseline;
  word-break: break-word;
  color: #000000;
}
.finish-background-color, .finished-background-color {
  background-color: #e43 !important;
}
.in_progress-background-color {
  background-color: #eaf900 !important;
}
.init-background-color {
  background-color: #04b404 !important;
}
.btn-act-subject {
  position: absolute;
  bottom: 6px;
}
.course-menu-items > li {
  cursor: pointer;
}
.img-member{
  width: 30px;
  height: 30px
}
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.info-box:hover {
  box-shadow: 2px 3px 1px rgba(10, 9, 9, 0.85);
}
.chart {
  border: solid 1px #9c9898;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 5px #151010;
}
.chart-item > label {
  padding-top: 4px;
  float: left;
  font-size: 10px;
  font-family: Helvetica;
  font-weight: 700;
  width: 100px;
}
.subject-description > a {
  cursor: pointer;
}
.details {
  display: none;
}
.row-cus {
  background-color: #eee;
  margin: 0px;
  box-shadow: 6px 8px 10px 0px #ddd;
  padding-top: 15px;
  padding-right: 15px;
}
.content-header > .title {
  position: relative;
  bottom: 10px;
}
.video-div {
  display: none;
}
.video {
  font-size: 20px;
  cursor: pointer;
  float: right;
  background: #fb6f6fcc;
}
.info-info {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  background: #44f5f154;
}
.video-close {
  display: none;
  color: red;
}

.ship-info-ic {
  display: inline-block;
  background: url(//checkout.scdn.vn/images/ecom/sprite-checkout.png) no-repeat 0 -119px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 180px;
  box-shadow: 0px 0px 4px 0.5px red;
}
.ship-info-ic:before {
  content: attr(data-title);
  color: #fff;
  background-color: #4caf50;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  top: -55px;
  left: 50%;
  margin-left: -100px;
  line-height: 18px;
  width: 200px;
  font-family: arial;
  display: none;
  z-index: 5;
}
.ship-info-ic:hover::before {
  display: block;
}
.display-none {
  display: none;
}
.task-tlt {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.view-control {
  word-wrap: break-word;

}
.table_profile tr {
    font-size: 13px;
}
.form-btn-edit {
  position: absolute;
  top: 0;
  z-index: 10;
}
.btn-danger {
  background-color: #ef8a80 !important;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger:hover {
  background-color: #e74c3c;
  border-color: #9c3428;
  color: #ffffff;
}
.view-field {
  width: 20%;
}
.section-catalogy{
  background: #ddd;
}
.catalogy-espand {
  font-size: 22px;
  cursor: pointer;
  color: #1b91fd;
  margin-right: 10px;
}
.profile_content{
  word-break: break-word;
}
.left-corner-status {
  background: #e43;
  color: #f0f0f0;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 41px;
  position: absolute;
  text-align: center;
  top: 7px;
  left: -45px;
  -webkit-transform: rotate(45deg);
  transform: rotate(-50deg);
  width: 140px;
  z-index: 99;
  height: 40px;
  font-family: monospace;
}
